/build/
/bin/
/old/
*.dblite
*.vscode
dump.txt
map_candidates/
grbnodes*
gurobi.log
model.lp
__pycache__/
*.log
*.lp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app